.main-div {
  background-color: #f5d0fe;
  height: 100vh;
  background-size: cover;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-div {
  background-color: #ffffff;
  height: 40vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
